/* HeroesComponent's private CSS styles */
.healthData {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.healthData li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.healthData li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.healthData li.selected {
  background-color: black;
  color: white;
}
.healthData li.selected:hover {
  background-color: #505050;
  color: white;
}
.healthData li.selected:active {
  background-color: black;
  color: white;
}
.healthData .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}

/* temp */
.card {
    margin-top: 1rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.card-primary {
  background-color: #0d6efd;
}
.card-secondary {
  background-color: #dc3545;
}
.card-warning {
  background-color: #ffc107;
}
.stat-content-icon {
  font-size: 3rem;
}
.stat-content-icon-primary {
  color: #ab1f1d;
}
.stat-content-icon-secondary {
  color: #285599;
}
.stat-content-icon-warning {
  color: #d19d02;
}
.stat-text {
  color: #fff
}
.input-group {
  margin-top: 1rem;
}
.btn {
  margin-left: 0.5rem;
}
.stat-digit {
  font-size: 2rem;
  font-weight: bold;
}
.progress {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: .8em;
}
a {
  font-size: 1rem;
  font-weight: normal;
}
