<div class="container">
  <div class="row">
    <div class="col-sm">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="dd.mm.yyyy" name="dp" [(ngModel)]="dateToShow" (dateSelect)="onDateSelect($event)" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="bi-calendar-date"></i>
              </button>
              <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <div class="card card-secondary">
            <div class="stat-widget-two card-body">
              <div class="row">
                <div class="col-3 stat-content-icon stat-content-icon-primary">
                  <i class="bi-signpost-split-fill"></i>
                </div>
                <div class="col-9 d-flex align-items-center">
                  <div class="stat-content">
                      <div class="stat-text">
                        <a>Steps Total</a>
                      <div class="stat-digit">
                        {{stepCountTotal}}<a> / {{ stepCountMax }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 align-items-center">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                      [style.width]="stepCountPercent * 100 + '%'">
                      <div class="stat-percent">
                        {{stepCountPercent | percent}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-primary">
            <div class="stat-widget-two card-body">
              <div class="row">
                <div class="col-3 stat-content-icon stat-content-icon-secondary">
                  <i class="bi-heart-fill"></i>
                </div>
                <div class="col-9 d-flex align-items-center">
                  <div class="stat-content">
                      <div class="stat-text">
                        <a>Heart Rate Avg.</a>
                        <div class="stat-digit">
                          {{heartRateAvg | number : '1.2-2'}}<a> bpm</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 align-items-center">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                      [style.width]="heartRatePercent * 100 + '%'">
                      <div class="stat-percent">
                        {{heartRatePercent | percent}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-warning">
            <div class="stat-widget-two card-body">
              <div class="row">
                <div class="col-3 stat-content-icon stat-content-icon-warning">
                  <i class="bi-lightning-charge-fill"></i>
                </div>
                <div class="col-9 d-flex align-items-center">
                  <div class="stat-content">
                    <div class="stat-text">
                      <a>Raw Intensity Avg.</a>
                      <div class="stat-digit">
                        {{rawIntensityAvg | number : '1.2-2'}}<a> pts</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 align-items-center">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                      [style.width]="rawIntensityPercent * 100 + '%'">
                      <div class="stat-percent">
                        {{rawIntensityPercent | percent}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>


<div class="card">
  <app-charts [healthModels]="healthModels"></app-charts>
</div>

<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Steps</th>
        <th scope="col">Heart Rate</th>
        <th scope="col">Raw Intensity</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let healthModel of healthModels; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{healthModel.date}}</td>
      <td>{{healthModel.steps}}</td>
      <td>{{healthModel.heartRate}}</td>
      <td>{{healthModel.rawIntensity}}</td>
    </tr>
  </table>
</div>
